<a href="https://colab.research.google.com/github/ramendrasingla/data_analysis_tutorial/blob/main/Data_Analysis_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
from google.colab import drive
from IPython.display import Image
import pandas as pd
import numpy as np

In [20]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Download Kaggle Dataset

In [21]:
!pip install kaggle
!mkdir ~/.kaggle
!cp ./drive/MyDrive/Newton\ School/Data\ Analysis\ Visualization/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download johnsmith88/heart-disease-dataset
!unzip heart-disease-dataset.zip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.13)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)
mkdir: cannot create directory ‘/root/.kaggle’: File exists
heart-disease-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  heart-disease-dataset.zip
replace heart.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: heart.csv

# Part - 1

## Data Preprocessing

In [31]:
df = pd.read_csv("heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

### Dimensions of data

In [32]:
df_shape = df.shape 
print("Shape = {}".format(df_shape))

Shape = (1025, 14)

In [33]:
df_size = df.size 
print("Size = {}".format(df_size))

Size = 14350

In [34]:
df_ndim = df.ndim 
print("Dataframe dimension = {}".format(df_ndim)) 

series_ndim = df["age"].ndim 
print("Column dimension  = {}".format(series_ndim))

Dataframe dimension = 2
Column dimension  = 1

### Column preprocessing

In [35]:
columns = df.columns
columns_list = list(df.columns)
print(df.columns)
print(columns_list)

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')
['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [37]:
data = {'Name#': ['Mukul', 'Rohan', 'Mayank','Shubham', 'Aakash'], 
        'Location&': ['Saharanpur', 'Meerut', 'Agra','Saharanpur', 'Meerut'], 
        'Pay@': [25000, 30000, 35000, 40000, 45000] 
   } 
 
df = pd.DataFrame(data) 
print("Original Dataframe:\n", df) 
 
df.columns = df.columns.str.replace('[#,@,&]', '')
print("\nUpdated Dataframe:\n", df)

Original Dataframe:
      Name#   Location&   Pay@
0    Mukul  Saharanpur  25000
1    Rohan      Meerut  30000
2   Mayank        Agra  35000
3  Shubham  Saharanpur  40000
4   Aakash      Meerut  45000

Updated Dataframe:
       Name    Location    Pay
0    Mukul  Saharanpur  25000
1    Rohan      Meerut  30000
2   Mayank        Agra  35000
3  Shubham  Saharanpur  40000
4   Aakash      Meerut  45000

<ipython-input-37-53aeccc52247>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('[#,@,&]', '')

In [38]:
df.describe()

               Pay
count      5.00000
mean   35000.00000
std     7905.69415
min    25000.00000
25%    30000.00000
50%    35000.00000
75%    40000.00000
max    45000.00000

### Data Cleaning

In [39]:
df = pd.DataFrame({'team' : ['Mavs$', 'Nets', 'Kings!!', 'Spurs% ', '&Heat&'], 
                   'points' : [12, 15, 22, 29, 24]}) 

print("Original Dataframe:\n", df) 

df['team'] = df['team'].str.replace('\W', '', regex=True) 
print("\nUpdated Dataframe:\n", df)

Original Dataframe:
       team  points
0    Mavs$      12
1     Nets      15
2  Kings!!      22
3  Spurs%       29
4   &Heat&      24

Updated Dataframe:
     team  points
0   Mavs      12
1   Nets      15
2  Kings      22
3  Spurs      29
4   Heat      24

In [46]:
## Missing Data
data = {'First Score':[85, 87, np.nan, 98, np.nan], 
        'Second Score': [22, 43, 64, np.nan, np.nan], 
        'Third Score':[np.nan, 20, 45, 100, np.nan]} 
  
df = pd.DataFrame(data) 
  
print(df.isnull())

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False
4         True          True         True

In [47]:
first_score_null = df['First Score'].isnull()
first_score_null_df = df[first_score_null]
print(first_score_null_df)

   First Score  Second Score  Third Score
2          NaN          64.0         45.0
4          NaN           NaN          NaN

In [48]:
any_null = df.isnull().any(axis=1)
any_null_df = df[any_null]
print(any_null_df)

   First Score  Second Score  Third Score
0         85.0          22.0          NaN
2          NaN          64.0         45.0
3         98.0           NaN        100.0
4          NaN           NaN          NaN

In [49]:
all_null = df.isnull().all(axis=1)
all_null_df = df[all_null]
print(all_null_df)

   First Score  Second Score  Third Score
4          NaN           NaN          NaN

In [52]:
## Fill NA
df_fill_const = df.fillna(0)
df_ffill = df.fillna(method = 'ffill')
df_bfill = df.fillna(method = 'bfill')

In [53]:
print('Fill Constant:\n',df_fill_const)
print('Forward Fill:\n',df_ffill)
print('Backward Fill:\n',df_bfill)

Fill 0:
    First Score  Second Score  Third Score
0         85.0          22.0          0.0
1         87.0          43.0         20.0
2          0.0          64.0         45.0
3         98.0           0.0        100.0
4          0.0           0.0          0.0
Forward Fill:
    First Score  Second Score  Third Score
0         85.0          22.0          NaN
1         87.0          43.0         20.0
2         87.0          64.0         45.0
3         98.0          64.0        100.0
4         98.0          64.0        100.0
Backward Fill:
    First Score  Second Score  Third Score
0         85.0          22.0         20.0
1         87.0          43.0         20.0
2         98.0          64.0         45.0
3         98.0           NaN        100.0
4          NaN           NaN          NaN

In [54]:
## Replace
df_replace = df.replace(to_replace = np.nan, value = "0")
print(df_replace)

  First Score Second Score Third Score
0        85.0         22.0           0
1        87.0         43.0        20.0
2           0         64.0        45.0
3        98.0            0       100.0
4           0            0           0

In [56]:
## Drop NA
df_dropna_any = df.dropna(how = 'any')
df_dropna_all = df.dropna(how = 'all')

In [57]:
print('Drop NA Any:\n',df_dropna_any)
print('Drop NA All:\n',df_dropna_all)

Drop NA Any:
    First Score  Second Score  Third Score
1         87.0          43.0         20.0
Drop NA All:
    First Score  Second Score  Third Score
0         85.0          22.0          NaN
1         87.0          43.0         20.0
2          NaN          64.0         45.0
3         98.0           NaN        100.0

## Data Visualization

[Case Study](https://github.com/ramendrasingla/Human-or-Robot/blob/main/Business_Problem__EDA.ipynb)